<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <title>{% block title 'Comparator' %}</title>

    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
    {% endblock stylesheets %}

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/app/js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>

    {% include "AppBundle:Layout:navbar.html.twig" %}
    {% include "AppBundle:Layout:flashes.html.twig" %}

    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/ie10-viewport-bug-workaround.js') }}"></script>
    {% endblock javascripts %}

</body>
</html>
